

<% if @article.errors.any? %>
<div id="error_explanation" class="alert alert-danger m-3">
  <h3><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h3>

  <ul>
  <% @article.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
</div>
<% end %>